{% extends 'base.html' %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block head_block %}
    {% leaflet_js %}
    {% leaflet_css %}
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />

    <!--Add draw plugin -->
    <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>

    <!--Add Bing.js -->
    <script src="https://cdn.rawgit.com/shramov/leaflet-plugins/master/layer/tile/Bing.js"></script>    

{% endblock %}

{% block content %}
	<div id="map" style="width: 800px; height: 600px; border: 1px solid #ccc"></div>
	<button id="answer">Answer</button>
	<button id="getQuestion">Get next question</button>
	<button id="showLocation">Show Bounds</button>
        <script src="{% static "scripts.js" %}"></script>
	<script>
	map = new L.Map('map', {center: new L.LatLng(47.6553, -122.3035), zoom: 15 });
	var imagerySet = "Aerial"; // AerialWithLabels | Birdseye | BirdseyeWithLabels | Road
        var bing = new L.BingLayer("AkErn6IFlYKIm4Mp34p-ayPl_zTVk6LoUyp4J9HftaB_KJdDkBV6MmOV4eWKciNF", {type: imagerySet});
        map.addLayer(bing);
        var dataurl = '{% url "data" %}';

	fetch(dataurl)
          .then(function(resp) {
            return resp.json();
           })
           .then(function(data) {
            L.geoJson(data).addTo(map);
      	  });

	var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);

        // Set the title to show on the polygon button
        L.drawLocal.draw.toolbar.buttons.polygon = 'Draw a sexy polygon!';


        map.on('draw:created', function (e) {
            var type = e.layerType,
                layer = e.layer;

            drawnItems.addLayer(layer);
            console.log("Add " + type + " layer");
            var geoJson = layer.toGeoJSON();

            var geo = geoJson.geometry;
            var data = JSON.stringify(geo);
            console.log("data: " + data);
            addElement(data);

        });

        map.on('draw:deleted', function(e) {
            console.log("something was deleted; showing draw control");
            var layers = e.layers;
            var countOfDeletedLayers = 0;
            layers.eachLayer(function(layer) {
                countOfDeletedLayers++;
                var geoJson = layer.toGeoJSON();
                var geo = geoJson.geometry;
                var data = JSON.stringify(geo);
                console.log("data: " + data);
                deleteElement(data);
            });
            console.log("Deleted " + countOfDeletedLayers + " layers");
});


        map.on('draw:edited', function (e) {
            var layers = e.layers;
            var countOfEditedLayers = 0;
            layers.eachLayer(function(layer) {
                countOfEditedLayers++;
                var geoJson = layer.toGeoJSON();
                console.log("Can get geo JSON now");
            });
            console.log("Edited " + countOfEditedLayers + " layers");
        });

        L.DomUtil.get('answer').onclick = function () {
	    var answer = confirm("Is there a safe crossing?");
            if (answer) {
                alert("Thank you!");
                return;
            }
            answer = confirm("Is there an unsafe crossing marked as wrong?");
            if (answer) {
                alert("Please draw a rectangle around that crossing!");
                try { 
                    map.removeControl(drawControl); 
                } 
                catch (err){ 
                    console.log('no draw control to remove'); 
                };
                var drawControl = new L.Control.Draw({
                    position: 'topright',
                    draw: {
                        polyline: false,
                        rectangle: true,
                        polygon: false,
                        circle: false,
                        marker: false
                    },
                    edit: {
                        featureGroup: drawnItems,
                        remove: true,
                        edit: false
                    }
                });
                map.addControl(drawControl);
                return;
            }
            answer = confirm("Is there a safe crossing that's not marked?");
            if (answer) {
                alert("Please draw a line along that crossing!");
                try {
                    map.removeControl(drawControl);
                }
                catch (err){
                    console.log('no draw control to remove');
                };
                var drawControl = new L.Control.Draw({
                    position: 'topright',
                    draw: {
                        polyline: {
                            metric: true
                        },
                        rectangle: false,
                        polygon: false,
                        circle: false,
                        marker: false
                    },
                    edit: {
                        featureGroup: drawnItems,
                        remove: true,
                        edit: false
                    }
                });
                map.addControl(drawControl);
                return;
            }
        };
			

        L.DomUtil.get('getQuestion').onclick = function () {
            getCoordinates();
        };
        L.DomUtil.get('showLocation').onclick = function () {
            console.log("SW: " + map.getBounds().getSouthWest());
            console.log("NE: " + map.getBounds().getNorthEast());
			
        };
    </script>
{% endblock %}
