# Place your secret key here
# To test locally, set to any unique, unpredictable value.
SECRET_KEY = ""

# Add the IP address where this project is going to be hosted
# This field is optional when testing locally.
ALLOWED_HOSTS = []
